.navbar {
    width: 100%;
    height: 8.25rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #D3D3D3;
    border-bottom: 1px solid #ffffff;
}

.navbar .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar .container .logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}

.navbar .container .logo h1:active {
    color: #ff0000;
    transition: all .9s;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-list {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .nav-list a {
    color: #000000;
}

.navbar .auth .auth-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .auth .auth-item .auth-list {
    padding: 0.5rem;
    margin: 0rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .auth .auth-item .auth-list i {
    display: none;
    color: #000000;
}

.navbar .auth .auth-item .auth-list span {
    color: #000000;
    background: #5651e5;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
}

.toggler {
    display: none;
}

/* Responsive */
@media screen and (max-width:768px) {
    .toggler {
        display: block;
        cursor: pointer;
    }

    .toggler i {
        font-size: 2.5rem;
    }

    .navbar .nav-item {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        top: 90px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #eee;
        transition: ease-in-out .9s;
        z-index: 99;
    }

    .navbar .active {
        left: 0;
    }

    .navbar .nav-item .nav-list {
        font-size: 2rem;
    }

    .navbar .auth .auth-item .auth-list span {
        display: none;
    }

    .navbar .auth .auth-item .auth-list i {
        display: block;
        font-size: 2rem;
    }
}